extends ./layout/base

block variables
    - var bodyClass = 'page--post'
    - var pageTitle = file.getMetaTag('title') + ' - blog.pomek.pl'

block body
    div
        h3 #{ file.getMetaTag('title') }
        | !{ file.contents }
