.belt {
  &__header {
    @extend .clearfix;
    margin: 0 auto;
    padding: 2em 0;
    width: 90%;
  }

  &__footer {
    color: #8c8c8c;
    padding: 0.125em 0;
    font-size: 0.813em;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
  }

  &--dark {
    background: #111;
  }

  &--dark &__link {
    color: #8c8c8c;

    &:hover {
      color: #aaa;
    }
  }
}
