.brand {
  font-size: 1.625em;

  @include respond-to(tablet computer) {
    float: left;
  }

  &:before {
    content: '//';
    opacity: 0.9;
    padding-right: 0.25em;
  }

  &__link {
    opacity: 0.4;

    &:hover {
      opacity: 0.9;
    }

    &,
    &:hover {
      color: #fff;
    }
  }
}
