.pagination {
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0.813em;
  line-height: 1.85;
  font-weight: 700;
  padding: 1.5em;

  &__item {
    display: inline-block;
  }

  &__link {
    color: #8c8c8c;
    display: block;
    padding: 0.375em;

    &:hover {
      color: #aaa;
    }
  }
}
