.pagination {
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  &__item {
    display: inline-block;
    margin: 0 0.375em;
  }

  &__link {
    color: #8c8c8c;

    &:hover {
      color: #aaa;
    }
  }
}
