.post {
  background: #fff;
  text-align: center;
  margin-bottom: 1.5em;
  overflow: hidden;

  &__image {
    background-position: center;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    transition: all .2s ease-in-out;
    background-size: cover;

    @media (max-height: 799px) {
      height: 50vw;
    }

    @media (min-height: 800px) {
      max-height: 430px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &--link {
    cursor: pointer;
  }

  &__demo {
    padding: 0 5.55%;
    position: relative;
    z-index: 2;
    background-color: #fff;
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    letter-spacing: 0.04em;
    font-size: 1.313em;
    line-height: 1.143;

    @media (min-width: 800px) {
      font-size: 1.875em;
      line-height: 1.6;
    }

    &:after {
      content: '';
      display: block;
      position: relative;
      background: #4d4d4d;
      width: 4.5em;
      height: 7/32 * 1em;
      left: 0;
      right: 0;
      margin: 1em auto;
    }
  }

  &__title-link {
    color: #4d4d4d;
  }

  &__meta {
    margin: 0 0 0.3125em;
    list-style: none;
    padding: 1.84502em 0 0;
  }

  &__content {
    text-align: left;
    padding-bottom: 3em;

    a {
      text-decoration: underline;
    }
  }

  &__info {
    color: #aaa;
    display: inline;
    text-transform: uppercase;
    font-size: 0.813em;
    line-height: 1.85;
    font-weight: 700;
    letter-spacing: 0.08em;
  }

  &__info + &__info {
    &:before {
      content: '/';
    }
  }

  &__read-more {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.813em;
  }

  &__read-more-link {
    color: #4d4d4d;
    display: block;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  &__excerpt {
    @media (min-width: 426px) {
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: 426px) and (max-width: 654px) {
      max-width: 95%;
    }

    @media (min-width: 655px) {
      max-width: 90%;
    }
  }
}
