.socials {
  text-align: center;
  list-style: none;
  padding: 0;
  color: #fff;
  font-size: 1.313em;
  line-height: 1.714;
  margin: 0 0.375em;

  &--footer {
    margin: 0.75em 0 1.5em;
  }

  &__label {
    @extend .visually-hidden;
  }

  &__item {
    display: inline-block;
  }

  &__icon {
    opacity: 0.4;

    &:hover {
      opacity: 0.9;
    }

    &,
    &:hover {
      color: #fff;
    }
  }
}
