.socials {
  text-align: center;
  list-style: none;
  padding: 0;
  color: #fff;
  font-size: 1.4em;
  line-height: 1.714;
  margin: 0 0.375em;

  &--belt {
    @include respond-to(mobile) {
      display: none;
    }

    @include respond-to(tablet computer) {
      float: right;
      margin-top: -10px;
      position: relative;
      top: 6px;
      right: -0.2em;
      margin-right: 0;
    }
  }

  &--footer {
    margin: 1.5em 0;
    font-size: 3/2 * 1em;
  }

  &__icon {
    opacity: 0.4;
    display: block;

    &:hover {
      opacity: 0.9;
    }

    &,
    &:hover {
      color: #fff;
    }
  }

  &__item {
    display: inline-block;
  }

  &__label {
    @extend .visually-hidden;
  }
}

.page--post {
  .socials {
    &--footer {
      margin-top: 2em;
      margin-bottom: 2em;
    }
  }
}
