*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #222;
  color: #4d4d4d;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

hr {
  border: 0;
  background: #4d4d4d;
  height: 2px;
  width: 70%;
  margin: 3em auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h1 {
  font-size: 2.625em;
  line-height: 1.143;
}

h2 {
  font-size: 2.25em;
  line-height: 1.34;
}

h3 {
  font-size: 1.625em;
  line-height: 1.85;
}

h4 {
  font-size: 1.313em;
  line-height: 1.143;
}

h5 {
  font-size: 1.125em;
  line-height: 1.34;
}

h6 {
  font-size: 1em;
  line-height: 1.5;
}

ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: 1.5em;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin: 0 1.5em;

  &,
  li li {
    font-size: 1em;
  }
}

a {
  color: #222;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    color: #000;
  }
}

p {
  margin: 2em 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.clearfix {
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

code:not(.hljs) {
  background: #f8f8f8;
}

.hljs {
  border: 1px solid #e0e0e0;
  max-height: 18.75em;
  -webkit-overflow-scrolling: touch;
}


.page--post {
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  p {
    margin: 2rem 0;
    line-height: 1.5rem;
  }
}
