---
layout: default
---
<h2 class="visually-hidden">Aktualności</h2>

<div class="news-list">

    {% for post in paginator.posts %}
    <article class="news js-news">
        <h3 class="news--title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        <p class="news--meta">
            #{{ post.categories }},
            Opublikowano
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">
                {{ post.date | date: "%d.%m.%Y" }}
            </time>
        </p>
        <div class="news--content">
            {% if post.image %}
                <img src="{{ post.image }}" class="news--image">
            {% endif %}
            <div>
                {{ post.description }}
            </div>
            <p class="news--more">
                <a href="{{ post.url | prepend: site.baseurl }}">Zobacz więcej&hellip;</a>
            </p>
        </div>
        <section class="news__socials">
            <h4 class="news__socials--title">Opublikuj</h4>

            <ul class="news__socials__links">
                <li class="news__socials__links__link">
                    <a class="js-facebook" rel="nofollow" target="_blank" title="Podziel się wpisem na Facebooku"
                       href="http://www.facebook.com/share.php?v=4&amp;src=bm&amp;u={{ post.url | prepend: site.url | prepend: site.baseurl }}&amp;t={{ post.title }}">
                        <i class="fa fa-facebook-square"></i>&nbsp;Facebook
                    </a>
                </li>
                <li class="news__socials__links__link">
                    <a class="js-twitter" rel="nofollow" target="_blank" title="Podziel się wpisem na Twitterze!"
                       href="http://twitter.com/home?status={{ post.title }} -- {{ post.url | prepend: site.url | prepend: site.baseurl }}">
                        <i class="fa fa-twitter-square"></i>&nbsp;Twitter
                    </a>
                </li>
                <li class="news__socials__links__link">
                    <a class="js-google" rel="nofollow" target="_blank" title="Podziel się wpisem na Google+"
                       href="https://plus.google.com/share?url={{ post.url | prepend: site.url | prepend: site.baseurl }}">
                        <i class='fa fa-google-plus-square'></i>&nbsp;Google+</a>
                </li>
            </ul>
        </section>
    </article>
    {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
    <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="pagination--previous">Nowsze posty</a>
            <a href="{{ site.baseurl }}/" class="pagination--home">Strona główna</a>
        {% endif %}

        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="pagination--next">Starsze posty</a>
        {% endif %}
</div>
{% endif %}
