---
layout: default
---
<h2 class="visually-hidden">Aktualności</h2>

<div class="news-list">

    {% for post in paginator.posts %}
    <article class="news js-news">
        <h3 class="news--title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        <p class="news--meta">
            Kategoria: {{ post.categories | join: ' ' }},
            Data publikacji:
            <time datetime="{{ post.date | html5date }}">
                {{ post.date | polishDate }}
            </time>
        </p>
        <div class="news--content">
            {% if post.image %}
                <img src="{{ post.image }}" class="news--image">
            {% endif %}
            <div>
                {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
            </div>
            <p class="news--more">
                <a href="{{ post.url | prepend: site.baseurl }}">Pełny wpis</a>
            </p>
        </div>
        <section class="news__socials hidden js-only">
            <h4 class="news__socials--title">Podziel się</h4>
            {% assign news = post %}
            {% include partials/socials.html %}
        </section>
    </article>
    {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
    <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination--previous">Nowsze posty</a>
        {% endif %}

        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="pagination--next">Starsze posty</a>
        {% endif %}
</div>
{% endif %}
