<header class="header">
    <h1 class="header__logo">
        <a href="{{ site.baseurl }}/" class="header__logo--emphaze">blog.pomek.pl</a>
    </h1>
    <span class="header__logo--motto">
        Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle tekstowym
    </span>

    <div class="socials">
        <nav>
            <h2 class="visually-hidden">Media społecznościowe</h2>
            <ul class="socials__links">
                <li class="socials__links__link">
                    <a href="//facebook.com/pomekPL">
                        <i class="fa fa-facebook"></i>
                        <span class="visually-hidden">Facebook</span>
                    </a>
                </li>
                <li class="socials__links__link">
                    <a href="//twitter.com/pomekPL">
                        <i class="fa fa-twitter"></i>
                        <span class="visually-hidden">Twitter</span>
                    </a>
                </li>
                <li class="socials__links__link">
                    <a href="//github.com/pomek">
                        <i class="fa fa-git"></i>
                        <span class="visually-hidden">Github</span>
                    </a>
                </li>
                <li class="socials__links__link">
                    <a href="//twitch.tv/profile/pomekPL">
                        <i class="fa fa-twitch"></i>
                        <span class="visually-hidden">Twitch</span>
                    </a>
                </li>
                <li class="socials__links__link">
                    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                        <i class="fa fa-rss"></i>
                        <span class="visually-hidden">RSS</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
