@import "../bower_components/normalize-scss/normalize";

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &:active,
  &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

$font-base: "Raleway";
$font-header: "Playfair Display";
$font-fallback: "sans-serif";
$font-fallback-header: "serif";

$font-base-color: #545454;
$font-header-color: #2b2b2b;

$font-link-color: $font-header-color;
$font-link-color-hover: #666;

$header-emphaze-margin: 65px;

* {
  box-sizing: border-box;
}

body {
  color: $font-base-color;
  font-family: $font-base, $font-fallback;
  font-size: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}

a {
  color: $font-link-color;
  text-decoration: none;

  &:hover {
    color: $font-link-color-hover;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header, $font-fallback-header;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1em;
  color: $font-header-color;
}

.header {
  @include clearfix;
  margin-bottom: 1.69 * $header-emphaze-margin;
  padding: 1.5em 4.167% 0;
  text-align: center;

  &__logo {
    margin-top: $header-emphaze-margin;

    &--emphaze {
      display: block;
      font-size: 4.188em;
      line-height: 1.343;
    }

    &--motto {
      color: $font-base-color;
      font-size: 0.75em;
      text-transform: uppercase;
      text-align: center;
      display: block;
    }
  }
}

.socials {
  @include clearfix;
  float: right;
  position: relative;
  top: -(3 * $header-emphaze-margin);

  &__links {
    list-style: none;

    &__link {
      display: inline-block;
      margin-right: 1.125em;

      &:last-of-type {
        margin-right: 0;
      }

      a {
        text-decoration: none;
      }
    }
  }
}

.main {
  padding: 0 9.08406%;
}

.news {
  margin-bottom: 90px;

  &__socials {
    padding: 20px 0 5px;
    margin: 0;
    text-align: center;
    font-size: 0.75em;
    line-height: 1.5;
    text-transform: uppercase;

    &__links {
      display: inline;
      list-style: none;
      margin: 0;
      padding: 0;

      &__link {
        display: inline-block;
        padding: 0 10px;
      }
    }

    &--title {
      font-family: $font-base, $font-fallback;
      display: inline-block;

      &:after {
        content: ":";
      }
    }
  }

  &--title {
    font-size: 3.188em;
    line-height: 1.314;
    padding: 0 9.08406%;
    text-align: center;
  }

  &--meta {
    font-size: 0.75em;
    line-height: 1.5;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
  }

  &--content {
    @include clearfix;
    padding: 0 18.16812%;
  }

  &--more {
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
  }

  &--image {
    float: left;
    margin: 0 10px 5px 0;
    padding: 4px;
    border: 0 solid #eee;
    background: none;
    width: 200px;
    height: auto;
    max-width: 100%;
  }
}

.footer {
  padding: 1.5em 4.167%;
  margin-top: 3em;
  text-align: center;
  background: #f5f5f5;
  border-top: solid 1px #EDEDED;

  &__links {
    list-style: none;

    &__link {
      display: inline-block;

      &:after {
        content: " | ";
        display: inline;
      }

      &:last-of-type {
        &:after {
          display: none;
        }
      }
    }
  }
}

.pagination {

}
