@import "../bower_components/normalize-scss/normalize";

* {
  box-sizing: border-box;
}

body {
  color: $font-base-color;
  font-family: $font-base, $font-fallback;
  font-size: 16px;
  line-height: 1.5em;
  -webkit-font-smoothing: subpixel-antialiased;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  min-width: 300px;
  max-width: 1440px;
  @include blockCenter;
}

a {
  color: $font-link-color;
  text-decoration: none;

  &:hover {
    color: $font-link-color-hover;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header, $font-fallback-header;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1em;
  color: $font-header-color;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &:active,
  &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}
