.fa-facebook-square:before { content: '\e800'; }
.fa-facebook:before { content: '\e801'; }
.fa-twitter:before { content: '\e802'; }
.fa-twitter-square:before { content: '\e803'; }
.fa-github-circled:before { content: '\e804'; }
.fa-github-square:before { content: '\e805'; }
.fa-rss-square:before { content: '\e806'; }
.fa-rss:before { content: '\e807'; }
.fa-twitch:before { content: '\e808'; }
.fa-git:before { content: '\e809'; }
.fa-git-square:before { content: '\e80a'; }
.fa-google-plus-square:before { content: '\e80b'; }
.fa-google-plus:before { content: '\e80c'; }
