.header {
  @include clearfix;
  margin-bottom: 6em;
  padding: 1.5em 5% 0;
  text-align: center;

  &__logo {
    margin-top: 4.0625em;

    &--emphaze {
      display: block;
      font-size: 4.25em;
      line-height: 1.25em;
    }

    &--motto {
      display: block;
      font-size: 0.75em;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &__socials {
    float: right;
    position: relative;
    top: -11.5em;

    &__links {
      list-style: none;
      margin: 0;
      padding: 0;

      &__link {
        display: inline-block;
        font-size: 1.15em;
        margin-right: 1.125em;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

.main {
  @include blockCenter;
  width: 71.2%;
}

#disqus_thread,
.news {
  margin-bottom: 5.625em;
}

.news {
  line-height: 1.75em;

  p + p {
    margin-top: 2.15em;
  }

  h2,
  h3 {
    margin: 1em 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.25em;
  }

  h4,
  h5,
  h6 {
    margin: 1.25em 0;
    text-align: left;
  }

  h2 {
    text-align: center;
    font-size: 2.7em;
  }

  h3 {
    font-size: 2.35em;
  }

  h4 {
    font-size: 2em;
  }

  h5 {
    font-size: 1.65em;
  }

  h6 {
    font-size: 1.3em;
  }

  &__socials {
    padding: 1.25em 0 0.3125em;
    text-align: center;
    font-size: 0.75em;
    line-height: 1.5em;
    text-transform: uppercase;

    &__links {
      display: inline;
      list-style: none;
      margin: 0;
      padding: 0;

      &__link {
        display: inline-block;
        padding: 0 0.625em;
      }
    }

    &--title,
    h3.news__socials--title,
    h4.news__socials--title {
      font-family: $font-base, $font-fallback;
      font-size: 1em;
      display: inline-block;

      &:after {
        content: ":";
        padding-right: 0.625em;
      }
    }
  }

  &--title,
  h2.news--title,
  h3.news--title {
    font-size: 3.15em;
    line-height: 1.315;
    text-align: center;
  }

  &--meta {
    font-size: 0.75em;
    line-height: 1.5;
    margin-top: 1em;
    margin-bottom: 2.5em;
    text-align: center;
    text-transform: uppercase;
  }

  &--content {
    @include clearfix;
    @include blockCenter;
    width: 75%;

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 1.25em 0;
    }

    a {
      text-decoration: underline;
    }

    img {
      display: block;
      margin: 0 auto;
      width: 75%;
      height: auto;
    }
  }

  &--more {
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
  }

  &--image {
    float: left;
    margin: 0 0.625em 0.3125em 0;
    padding: 0.25em;
    width: 12.5em;
    height: auto;
    max-width: 100%;
  }
}

.footer {
  padding: 1.5em 4.167%;
  margin-top: 3.5em;
  text-align: center;
  background: #f5f5f5;
  border-top: solid 1px #ededed;

  &__links {
    list-style: none;
    margin: 0;
    padding: 0;

    &__link {
      display: inline-block;

      &:after {
        content: "|";
        display: inline;
        padding: 0 0.3em;
      }

      &:last-of-type {
        &:after {
          display: none;
        }
      }
    }
  }
}

.pagination {
  @include clearfix;
  @include blockCenter;
  text-align: center;
  width: 87.5%;

  a {
    text-decoration: underline;
  }

  &--previous {
    float: left;
  }

  &--next {
    float: right;
  }
}
