@media only screen and (min-width: 320px) and (max-width: 479px) {
  .header {
    margin-bottom: 30px;

    &__logo {
      margin-top: 50px;

      &--emphaze {
        font-size: 2.75em;
        line-height: 1.5em;
      }

      &--motto {
        display: none;
      }
    }

    &__socials {
      top: -145px;

      &__links {
        &__link {
          margin-right: 1.125em;
          font-size: 1.25em;
        }
      }
    }
  }

  .main {
    width: 320px;
  }

  .news,
  .pagination {
    font-size: 0.85em;
  }

  .news {
    text-align: justify;

    &__socials {
      &--title {
        display: none;
      }
    }

    &--title {
      width: 320px;
      font-size: 1.6em;
      line-height: 1.5;
    }

    &--content {
      width: 300px;
    }

    &--image {
      display: none;
    }
  }

  .pagination {
    width: 300px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 599px) {
  .header {
    margin-bottom: 15px;

    &__logo {
      margin-top: 50px;

      &--emphaze {
        font-size: 2.75em;
        line-height: 1.5em;
      }

      &--motto {
        display: none;
      }
    }

    &__socials {
      top: -145px;

      &__links {
        &__link {
          margin-right: 1.125em;
          font-size: 1.25em;
        }
      }
    }
  }

  .main {
    width: 480px;
  }

  .news {
    font-size: 0.9em;
    text-align: justify;

    &__socials {
      padding: 0;

      &__links {
        &__link {
          font-size: 2em;

          &--label {
            display: none;
          }
        }
      }

      &--title {
        font-size: 1.25em;
        position: relative;
        top: -2px;
      }
    }

    &--title {
      width: 480px;
      font-size: 1.75em;
      line-height: 1.5;
    }

    &--content {
      width: 450px;
    }

    &--image {
      margin: 0 10px 5px 0;
      width: 150px;
      height: auto;
      max-width: 100%;
    }
  }

  .pagination {
    width: 450px;
  }
}

@media only screen and (max-width: 599px) {
  .news {
    margin-bottom: 40px;
    text-align: justify;

    &__socials {
      padding: 0;

      &__links {
        &__link {
          font-size: 1.85em;

          &--label {
            display: none;
          }
        }
      }
    }

    &--meta {
      font-size: 0.75em;
      line-height: 1.5;
      margin-bottom: 24px;
    }

    &--more {
      padding-right: 0;
      margin-top: 15px;
    }
  }

  .footer {
    padding: 1em 0;
    margin-top: 2.5em;

    &__links {
      &__link {
        display: block;

        &:after {
          display: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 719px) {
  .header {
    margin-bottom: 40px;

    &__socials {
      &__links {
        &__link {
          margin-right: 1.125em;
          font-size: 1.25em;
        }
      }
    }
  }

  .main {
    width: 600px;
  }

  .news,
  .pagination {
    font-size: 0.85em;
  }

  .news {
    margin-bottom: 60px;

    &--title {
      font-size: 2em;
      width: 580px;
    }

    &--meta {
      margin-bottom: 30px;
    }

    &--content {
      width: 550px;
    }
  }

  .pagination {
    width: 550px;
  }

  .footer {
    font-size: 0.75em;
    padding: 2em 0;
  }
}

@media only screen and (min-width: 720px) and (max-width: 859px) {
  .header {
    margin-bottom: 40px;

    &__socials {
      &__links {
        &__link {
          margin-right: 1.125em;
          font-size: 1.25em;
        }
      }
    }
  }

  .main {
    width: 700px;
  }

  .news,
  .pagination {
  }

  .news {
    margin-bottom: 60px;

    &--title {
      font-size: 1.9em;
      width: 670px;
    }

    &--meta {
      margin-bottom: 30px;
    }

    &--content {
      font-size: 0.9em;
      width: 650px;
    }
  }

  .pagination {
    width: 650px;
  }

  .footer {
    font-size: 0.9em;
    padding: 2em 0;
  }
}

@media only screen and (min-width: 860px) and (max-width: 999px) {
  .header {
    margin-bottom: 60px;

    &__socials {
      &__links {
        &__link {
          margin-right: 1.125em;
          font-size: 1.25em;
        }
      }
    }
  }

  .main {
    width: 840px;
  }

  .news,
  .pagination {
  }

  .news {
    &--title {
      font-size: 2.25em;
      width: 820px;
    }

    &--meta {
      margin-bottom: 30px;
    }

    &--content {
      font-size: 0.9em;
      width: 800px;
    }
  }

  .pagination {
    width: 800px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1280px) {
  .header {
    margin-bottom: 80px;

    &__socials {
      &__links {
        &__link {
          margin-right: 1.125em;
          font-size: 1.25em;
        }
      }
    }
  }

  .main {
    width: 980px;
  }

  .news,
  .pagination {
  }

  .news {
    &--title {
      font-size: 2.5em;
      width: 900px;
    }

    &--meta {
      margin-bottom: 40px;
    }

    &--content {
      width: 920px;
    }
  }

  .pagination {
    width: 920px;
  }
}
