$font-path: "../fonts";

$font-base: "Raleway";
$font-header: "Playfair Display";
$font-fallback: "sans-serif";
$font-fallback-header: "serif";

$font-base-color: #545454;
$font-header-color: #2b2b2b;

$font-link-color: $font-header-color;
$font-link-color-hover: #666;

$header-emphaze-margin: 65px;
