doctype html
html(lang="pl")
    head
        meta(charset='utf-8')
        link(href='//fonts.googleapis.com/css?family=Raleway:400,700,700i&subset=latin-ext' rel='stylesheet')
    body
        h1 Pug - node template engine
        block body
