include ../includes/socials
include ../includes/article
- var rootPath = '../'.repeat(file.nestingLevel)
- var bodyClass = null
- var pageTitle = null
doctype html
html(lang="pl")
    block variables
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=2')
        link(href='//fonts.googleapis.com/css?family=Raleway:400,700,700i&subset=latin-ext', rel='stylesheet')
        link(href=utils.path(rootPath, config.ASSETS.STYLES, 'style.css'), rel='stylesheet')
        title #{ pageTitle }
        block head
    body(class=bodyClass)
        div.belt.belt--dark
            header.belt__header
                h1.brand
                    a.brand__link(href=utils.path(rootPath, 'index.html')) blog.pomek.pl
                +socials('belt__socials')

        main.content
            block body

        +socials('socials--footer')

        div.belt.belt--dark
            footer.belt__footer
                p
                    | Oryginalny szablon #[a.belt__link(href='//www.competethemes.com/tracks') Tracks Theme]

        block scripts
