---
layout: default
---

<article class="news js-news">
    <h2 class="news--title">
        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    </h2>
    <p class="news--meta">
        Kategoria: {{ page.categories }},
        Data publikacji:
        <time datetime="{{ page.date | html5date }}">
            {{ page.date | polishDate }}
        </time>
    </p>
    <div class="news--content">
        {% if page.image %}
        <img src="{{ page.image }}" class="news--image">
        {% endif %}
        <div>
            {{ content }}
        </div>
    </div>

    <section class="news__socials hidden js-only">
        <h3 class="news__socials--title">Podziel się</h3>
        {% assign news = page %}
        {% include partials/socials.html %}
    </section>
</article>

{% if page.comments %}
    {% include scripts/disqus.html %}
{% endif %}
