---
layout: default
---

<article class="news js-news">
    <h3 class="news--title">
        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    </h3>
    <p class="news--meta">
        Kategoria: {{ page.categories }},
        Data publikacji:
        <time datetime="{{ page.date | html5date }}">
            {{ page.date | polishDate }}
        </time>
    </p>
    <div class="news--content">
        {% if page.image %}
        <img src="{{ page.image }}" class="news--image">
        {% endif %}
        <div>
            {{ content }}
        </div>
    </div>

    <section class="news__socials hidden js-only">
        <h4 class="news__socials--title">Podziel się</h4>

        <ul class="news__socials__links">
            <li class="news__socials__links__link">
                <a class="js-facebook" rel="nofollow" target="_blank" title="Podziel się wpisem na Facebooku"
                   href="http://www.facebook.com/share.php?v=4&amp;src=bm&amp;u={{ page.url | prepend: site.url | prepend: site.baseurl }}&amp;t={{ page.title }}">
                    <i class="fa fa-facebook-square"></i>
                    <span class="news__socials__links__link--label">Facebook</span>
                </a>
            </li>
            <li class="news__socials__links__link">
                <a class="js-twitter" rel="nofollow" target="_blank" title="Podziel się wpisem na Twitterze!"
                   href="http://twitter.com/home?status={{ page.title }} -- {{ page.url | prepend: site.url | prepend: site.baseurl }}">
                    <i class="fa fa-twitter-square"></i>
                    <span class="news__socials__links__link--label">Twitter</span>
                </a>
            </li>
            <li class="news__socials__links__link">
                <a class="js-google" rel="nofollow" target="_blank" title="Podziel się wpisem na Google+"
                   href="https://plus.google.com/share?url={{ page.url | prepend: site.url | prepend: site.baseurl }}">
                    <i class='fa fa-google-plus-square'></i>
                    <span class="news__socials__links__link--label">Google+</span>
                </a>
            </li>
        </ul>
    </section>
</article>
